    <H4> ALGORITHM : </H4>
      Let considering the line segment which has Gentle Slope
      <br>
      Assume: x2 &gt; x1 and y2 &gt; y1.
    <br>
      <OL>
        <LI>
          Start.
        </LI>
        <LI>
          Accept end points of a line segment (x1,y1),(x2,y2).
        </LI>
        <LI>
          Calculate:
          <br>
          dx = abs(x2-x1).
          <br>
          dy = abs(y2-y1).
        </LI>
        <LI>
          Calculate the Length of the Line segment as :
          <br>
          if (dx &gt;= dy)
          <br>
          then
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;length = dx.
          <br>
          else
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;length = dy.
        </LI>
        <LI>
          Calculate Initial Decision Parameter as :
          <br>
          d = 2dy - dx.
        </LI>
        <LI>
          Calculate:
          <br>
          incr1 = 2 * dy &ndash; 2 * dx.
          <br>
          incr2 = 2 * dy.
        </LI>
        <LI>
          Calculate xincr as:
          <br>
          If (x2 &gt; x1)
          <br>
          then
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yincr = 1.
          <br>
          else
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yincr = -1.
        </LI>
      <LI>
        Initialize :
        <br>
        x = x1
        <br>
        y = y1
        <br>
        i = 1
      </LI>
      <LI>
        while(i &lt;= length)
        <br>
        {
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;plotpoint(x ,y)
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if(d&gt;=0)
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;then
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x = x + xincr.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;y = y + yincr.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d = d + incr1.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x = x + xincr.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d = d + incr2.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i++
        }
      </LI>
        <LI>
          Stop.
        </LI>
      </OL>
