    <p>1. If the line (10,10) (20,20) will be rasterized, then which point will lie on the line segment? </p>
    <form>
        <input type="radio" name="answer" value="wrong" id=1><span id="21"> (16,17) </span></input><br>
        <input type="radio" name="answer" value="wrong" id=2><span id="22"> (16,15) </span></input><br />
        <input type="radio" name="answer" value="wrong" id=3 /><span id="23"> (18,17) </span></input><br />
        <input type="radio" name="answer" value="correct" id=4 /><span id="24">	(16,16) </span></input><br />
        </span>
    </form>

    <p>2. If the line (0,0) (10,10) will be rasterized, then what is the value of initial decision parameter?
</p>
    <form>
        <input type="radio" name="answer1" value="wrong" id=5><span id="25"> 0 </span></input><br />
        <input type="radio" name="answer1" value="correct" id=6 /><span id="26"> 10 </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=7 /><span id="27"> 20 </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=8 /><span id="28"> 40 </span></input><br />
        </span>
    </form>

    <p>3. If the line (1,1) (8,5) will be rasterized, then which point will be plotted after point (1,1)?</p>
    <form>
        <input type="radio" name="answer2" value="wrong" id=9> <span id="29"> (2,1) </span></input><br />
        <input type="radio" name="answer2" value="correct" id=10 /><span id="30">  (2,2) </span></input><br />
        <input type="radio" name="answer2" value="wrong" id=11 /><span id="31"> (2,3) </span></input><br />
        <input type="radio" name="answer2" value="wrong" id=12 /><span id="32"> (1,2) </span></input><br />
        </span>
    </form>

    <p>4. If the line (1,1) (8,5) will be rasterized, then which point will be plotted after point (2,2)?</p>
    <form>
        <input type="radio" name="answer3" value="correct" id=13><span id="33"> (3,2)  </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=14><span id="34"> (2,2) </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=15><span id="35"> (2,3) </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=16><span id="36"> (3,3)  </span></input><br>


    </form>

    <p>5.  If the line (1,0) (4,6) will be rasterized, then which point will lie on the line segment? </p>
    <form>
        <input type="radio" name="answer4" value="correct" id=17><span id="37"> (3,4) </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=18><span id="38"> (4,3)  </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=19><span id="39">  (2,4) </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=20><span id="40">  (3,2)  </span></input><br>
    </form>

    <br><input type="button" value="CHECK ANSWERS" onclick="cal();">
    <script>


    function cal() {
        var a = 0;
        for (i = 1; i <= 20; i++)
        {
            var r = document.getElementById(i);
            if (r.value == "correct" && r.checked)
                a++;
        }
        for (i = 21; i <= 40; i++)
        {
            var e = document.getElementById(i - 20);
            var b = document.getElementById(i);
            b.style.color="black";
            b.style.backgroundColor="#ffffff";
            if (e.checked)
            {
                b.style.color = "red";
            }
            if (e.checked && e.value == "correct")
            {
            	b.style.color = "green";
            	b.style.backgroundColor="#55efc4";
            }

        }
        alert("Congratulations! Your score is " + a);


    }


    </script>
