<b>
<h2>
<p id="question"></p>
</h2></b>
<b>
    QUESTIONS ->
<input type="button" value="Q1" id="1" onclick="changequestion(0)" class="button"/>
<input type="button" value="Q2" id="2" onclick="changequestion(1)" class="button"/>
<input type="button" value="Q3" id="3" onclick="changequestion(2)" class="button"/>
<input type="button" value="Q4" id="4" onclick="changequestion(3)" class="button"/>
<input type="button" value="Q5" id="5" onclick="changequestion(4)" class="button"/>
</b>
<hr>
<input type="button" value="Check Co-ordinates" onclick="check();" class="submit"/>
<input type="button" value="Clear Canvas" onclick="clearCanvas();" class="clear"/>
<br/>
<hr/>
<br/>
<div class="row">
    <div class="column">
        <canvas id="mycanvas" width="800" height="600" style="border:solid;border-color:black"></canvas>
    </div>
    <div class="column">
        <table id="correctPoints" style="visibility: hidden; text-align: center">
            <th colspan="4" style="border-bottom: solid">
                CORRECT COORDINATES
            </th>
        </table>
        <p id="key"></p>
    </div>
</div>
<script>
    var canvas = document.getElementById("mycanvas");
    var context = canvas.getContext("2d");
    var i = 0;
    var j = 0;
    var r = -1;
    var c = -1;
    var clickFlag = false;
    var qnumber;
    var questions = [];
    var squarecontainer = [];
    var bresenham = [];

    questions.push("Draw a line from (2,3) to (12,8) using Bresenham Line Drawing Algorithm");
    questions.push("Draw a line from (3,3) to (9,9) using Bresenham Line Drawing Algorithm");
    questions.push("Draw a line from (4,6) to (12,9) using Bresenham Line Drawing Algorithm");
    questions.push("Draw a line from (1,1) to (13,10) using Bresenham Line Drawing Algorithm");
    questions.push("Draw a line from (3,6) to (11,9) using Bresenham Line Drawing Algorithm");

    bresenham.push({x: 2, y: 3, q: 0});
    bresenham.push({x: 3, y: 3, q: 0});
    bresenham.push({x: 4, y: 4, q: 0});
    bresenham.push({x: 5, y: 4, q: 0});
    bresenham.push({x: 5, y: 5, q: 0});
    bresenham.push({x: 6, y: 5, q: 0});
    bresenham.push({x: 7, y: 5, q: 0});
    bresenham.push({x: 8, y: 6, q: 0});
    bresenham.push({x: 9, y: 6, q: 0});
    bresenham.push({x: 10, y: 7, q: 0});
    bresenham.push({x: 11, y: 7, q: 0});
    bresenham.push({x: 12, y: 8, q: 0});

    bresenham.push({x: 4, y: 4, q: 1});
    bresenham.push({x: 5, y: 5, q: 1});
    bresenham.push({x: 6, y: 6, q: 1});
    bresenham.push({x: 7, y: 7, q: 1});
    bresenham.push({x: 8, y: 8, q: 1});
    bresenham.push({x: 9, y: 9, q: 1});

    bresenham.push({x: 4, y: 6, q: 2});
    bresenham.push({x: 5, y: 6, q: 2});
    bresenham.push({x: 6, y: 6, q: 2});
    bresenham.push({x: 7, y: 7, q: 2});
    bresenham.push({x: 8, y: 7, q: 2});
    bresenham.push({x: 9, y: 7, q: 2});
    bresenham.push({x: 10, y: 8, q: 2});
    bresenham.push({x: 11, y: 8, q: 2});
    bresenham.push({x: 12, y: 9, q: 2});

    bresenham.push({x: 1,y: 1, q: 3});
    bresenham.push({x: 2,y: 1, q: 3});
    bresenham.push({x: 3,y: 2, q: 3});
    bresenham.push({x: 4,y: 3, q: 3});
    bresenham.push({x: 5,y: 4, q: 3});
    bresenham.push({x: 6,y: 4, q: 3});
    bresenham.push({x: 7,y: 5, q: 3});
    bresenham.push({x: 8,y: 6, q: 3});
    bresenham.push({x: 9,y: 7, q: 3});
    bresenham.push({x: 10,y: 7, q: 3});
    bresenham.push({x: 11,y: 8, q: 3});
    bresenham.push({x: 12,y: 9, q: 3});
    bresenham.push({x: 13,y: 10, q: 3});

    bresenham.push({x: 3,y: 6, q: 4});
    bresenham.push({x: 4,y: 6, q: 4});
    bresenham.push({x: 5,y: 6, q: 4});
    bresenham.push({x: 6,y: 7, q: 4});
    bresenham.push({x: 7,y: 7, q: 4});
    bresenham.push({x: 8,y: 7, q: 4});
    bresenham.push({x: 9,y: 8, q: 4});
    bresenham.push({x: 10,y: 8, q: 4});
    bresenham.push({x: 11,y: 9, q: 4});
    //bresenham.push({x: ,y: , q: });

    for (j = 0; j < 600; j = j + 50) {
        r++;
        c = -1;
        for (i = 0; i < 800; i = i + 50) {
            c++;
            var a = new mysquare(canvas, i, j, 50, 50);
            a.draw();
            squarecontainer.push({square: a, x1: i, y1: j, rows: r, cols: c, flag: 0});
        }
    }

    function mouseevt(x, y) {
        if (!clickFlag) {
            for (i = 0; i < squarecontainer.length; i++) {
                if (x >= squarecontainer[i].x1 && x <= (squarecontainer[i].x1 + 50) && y >= squarecontainer[i].y1 && y <= (squarecontainer[i].y1 + 50)) {
                    squarecontainer[i].square.mycolor = "yellow";
                    squarecontainer[i].square.draw();
                    squarecontainer[i].flag = 1;
                    break;
                }
            }
            context.clearRect(0, 0, canvas.width, canvas.height);
            for (i = 0; i < squarecontainer.length; i++) {
                squarecontainer[i].square.draw();
            }
        }
        else
        {
            alert("Clear the canvas or change the question to try again !");
        }
    }

    function check() {
        clickFlag = true;
        for (j = 0; j < bresenham.length; j++) {
            for (i = 0; i < squarecontainer.length; i++) {
                if (squarecontainer[i].flag == 1) {
                    if (bresenham[j].x == squarecontainer[i].cols && bresenham[j].y == squarecontainer[i].rows && bresenham[j].q == qnumber) {
                        squarecontainer[i].square.mycolor = "green";
                    }
                    else if (squarecontainer[i].square.mycolor != "green") {
                        squarecontainer[i].square.mycolor = "red";
                    }
                }
                else if (bresenham[j].x == squarecontainer[i].cols && bresenham[j].y == squarecontainer[i].rows && bresenham[j].q == qnumber) {
                    squarecontainer[i].square.mycolor = "black";
                }
                else {
                    squarecontainer[i].square.textColor = "#95a5a6";
                }
                squarecontainer[i].square.draw();
            }
        }
        generateTable();
        var P = document.getElementById("key");
        P.innerHTML = "Green - Correctly Plotted Co-ordinates <br>" + "Red - Wrong Co-ordinates plotted <br>" + "Black - Co-ordinates which are correct but not plotted <br>"
    }

    function generateTable()
    {
        console.log("PTP_checked");
        var answerTable = document.getElementById("correctPoints");
        for(i=0;i<bresenham.length;i++)
        {
            if(bresenham[i].q == qnumber)
            {
                var row = answerTable.insertRow();
                var cellLeftQ = row.insertCell();
                var cellLeftA = row.insertCell();
                var cellRightQ = row.insertCell();
                var cellRightA = row.insertCell();
                cellLeftQ.innerHTML = "X : ";
                cellLeftA.innerHTML = bresenham[i].x;
                cellLeftA.setAttribute("class", "divideTable");
                cellRightQ.innerHTML = "Y : ";
                cellRightA.innerHTML = bresenham[i].y;
            }
        }
        answerTable.style.visibility="visible";
    }

    function clearCanvas() {
        location.reload();
    }

    function reset() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        for (i = 0; i < squarecontainer.length; i++) {
            squarecontainer[i].square.mycolor = 'grey';
            squarecontainer[i].square.textColor = "white";
            squarecontainer[i].flag = 0;
            squarecontainer[i].square.draw();
        }
        var answerTable = document.getElementById("correctPoints");
        while (answerTable.rows.length > 1) {
            answerTable.deleteRow(1);
        }
        answerTable.style.visibility="hidden";
        document.getElementById("key").innerHTML = "";

        clickFlag = false;
    }

    changequestion(0);

    function changequestion(j) {
        var we;
        qnumber = j;
        we = "" + questions[j];
        reset();
        document.getElementById("question").innerHTML = null;
        document.getElementById("question").innerHTML = we;
    }
</script>
<script src="include/mouseevent.ob.js"></script>
