.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

.submit {
    height: 70px;
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
    border: black medium solid;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.clear {
    height: 70px;
    background-color: red;
    font-weight: bold;
    color: black;
    border: black medium solid;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.button {
    border: black medium solid;
    background-color: #bdc3c7;
    padding: 15px 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}