
      <OL>
        <LI>
          Start.
        </LI>
        <LI>
          Accept coordinates to construct a 2-D object.
        </LI>
        <LI>
          Display the 2-D object.
        </LI>
        <LI>
          Construct the Homogeneous matrix for the object with reference to the coordinate of the object.
        </LI>
        <LI>
          Accept the scaling factor Sx, Sy with reference to the coordinate system.
        </LI>
      <LI>
        Construct the scaled 2-D object with Sx, Sy (x&rsquo; = x * Sx; y&rsquo; = y * Sy ) with the use of Homogeneous matrix described earlier.
      </LI>
      <LI>
        Plot scaled object (x&rsquo;, y&rsquo;) w.r.t. Homogeneous coordinates.
      </LI>
        <LI>
          Stop.
        </LI>
      </OL>