

    <p>1. If the point P(10,10) is scaled along X-axis and Y-axis by scaling factor Sx=3 and Sy=3,  in respective directions, then what will be the new coordinate of point P&rsquo;?</p>
    <form>
        <input type="radio" name="answer" value="wrong" id=1><span id="21"> (0,0) </span></input><br>
        <input type="radio" name="answer" value="wrong" id=2><span id="22"> (30,10) </span></input><br />
        <input type="radio" name="answer" value="wrong" id=3 /><span id="23"> (10,30) </span></input><br />
        <input type="radio" name="answer" value="correct" id=4 /><span id="24">	(30,30) </span></input><br />
        </span>
    </form>

    <p>2. If the point P(10,10) is scaled along X-axis and Y-axis by scaling factor Sx=3 and Sy=1,  in respective directions, then what will be the new coordinate of point P&rsquo;?
</p>
    <form>
        <input type="radio" name="answer1" value="wrong" id=5><span id="25"> (10,30) </span></input><br />
        <input type="radio" name="answer1" value="correct" id=6 /><span id="26"> (30,10) </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=7 /><span id="27"> (30,30) </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=8 /><span id="28"> (0,0) </span></input><br />
        </span>
    </form>

    <p>3. If the point P(10,10) is scaled along X-axis and Y-axis by scaling factor Sx=1 and Sy=3,  in respective directions, then what will be the new coordinate of point P&rsquo;?</p>
    <form>
        <input type="radio" name="answer2" value="wrong" id=9> <span id="29"> (30,10) </span></input><br />
        <input type="radio" name="answer2" value="correct" id=10 /><span id="30">  (10,30) </span></input><br />
        <input type="radio" name="answer2" value="wrong" id=11 /><span id="31"> (30,30) </span></input><br />
        <input type="radio" name="answer2" value="wrong" id=12 /><span id="32"> (0,0) </span></input><br />
        </span>
    </form>

    <p>4. If the point P(10,10) is scaled along X-axis and Y-axis by scaling factor Sx=0.5 and Sy=2,  in respective directions, then what will be the new coordinate of point P&rsquo;?</p>
    <form>
        <input type="radio" name="answer3" value="correct" id=13><span id="33"> (5,20)  </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=14><span id="34"> (0,0) </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=15><span id="35"> (5,5) </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=16><span id="36">  (20,20)  </span></input><br>


    </form>

    <p>5. If the point P(10,10) is scaled along X-axis and Y-axis by scaling factor Sx=1.5 and Sy=0.5,  in respective directions, then what will be the new coordinate of P&rsquo;? </p>
    <form>
        <input type="radio" name="answer4" value="correct" id=17><span id="37"> (15,5) </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=18><span id="38">  (5,20) </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=19><span id="39"> (20,20) </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=20><span id="40">  (0,0)  </span></input><br>
    </form>

    <br><input type="button" value="CHECK ANSWERS" onclick="cal();">
    <script>


    function cal() {
        var a = 0;
        for (i = 1; i <= 20; i++)
        {
            var r = document.getElementById(i);
            if (r.value == "correct" && r.checked)
                a++;
        }
        for (i = 21; i <= 40; i++)
        {
            var e = document.getElementById(i - 20);
            var b = document.getElementById(i);
            b.style.color="black";
            b.style.backgroundColor="#ffffff";
            if (e.checked)
            {
                b.style.color = "red";
            }
            if (e.checked && e.value == "correct")
            {
            	b.style.color = "green";
            	b.style.backgroundColor="#55efc4";
            }

        }
        alert("Congratulations! Your score is " + a);


    }


    </script>
