
<UL>
    <LI>
        A scaling of an object is used to change the size of the object.
    </LI>
    <LI>
        The scaling transformation is needed to manipulate the initial object coordinate and display the modified object coordinate with the help of scaling factors in X-direction defined as &lsquo;Sx&rsquo; and in Y-directions defined as &lsquo;Sy&rsquo; as shown in figure below:
        <br>
        <img src="include/theoryImage1.png" height="150" width="150">
    </LI>

    <LI>
        We can scale a point in 2-D by multiplying with scaling factor (Sx, Sy) to the original coordinate P(x, y) to get the new coordinate P&rsquo;(x&rsquo; ,y&rsquo;) as:
        <br>x&rsquo; = x * Sx;
        <br>y&rsquo; = y * Sy;
    </LI>
    <LI>
        A scaling may moves all the points in the object either closer to the origin or away from origin, with respect to Sx and Sy.
    </LI>
    <LI>
        Scaling transformation can be performed :
        <ul>
            <li>
                About the origin :
                <br>
                If the point p (x,y) is scaled about origin  with scaling factor Sx, and Sy, then we can write the coordinate of  P&rsquo;(x&rsquo;,y&rsquo;) as:
                <br>x&rsquo; = x * Sx;
                <br>y&rsquo; = y * Sy;
            </li>
            <li>
                About an arbitrary point P (px,py):
                <br>
                To perform the scaling about the arbitrary point &rsquo;P&rsquo; we have to follow the steps listed below.
                <ol>
                    <li>
                        Translate the 2-D object so that arbitrary point &lsquo;P&rsquo; will coincide with the origin by performing the translation transformation with   translation factor T(-px, -py)
                    </li>
                    <li>
                        Scale the object with respect to origin, with scaling factor Sx and Sy respectively.
                    </li>
                    <li>
                        Inverse Translate the object with respect to the arbitrary point &lsquo;P&rsquo; by performing translation transformation with translation factor T(px,py)
                    </li>
                </ol>
            </li>
        </ul>
    </LI>
    <LI>
        Scaling can be represented with the use of Homogenous coordinate system using matrix representation as
        <br>
        <img src="include/theoryImage2.png" height="100" width="150">
        <br>
        where , P(x ,y) coordinate will be scaled to P&rsquo;(x&rsquo;, y&rsquo;) with respect to the scaling factor &lsquo;Sx&rsquo; and &lsquo;Sy&rsquo;.
    </LI>
    <LI>
        If the scaling factors are in between 0 and 1 then the points will be moved closer to the origin and the object will be smaller.
    </LI>
    <LI>
        If the scaling factors are larger than 1 then the points will be moved away from the origin and the object will be larger.
    </LI>
    <LI>
        If the scaling factors Sx and Sy are the same, then it is called as uniform scaling else called as differential scaling.
    </LI>
</UL>