      <OL>
        <LI>
          Start.
        </LI>
        <LI>
          Accept coordinates to construct a 2-D object.
        </LI>
        <LI>
          Calculate the Length of the Line segment:
        </LI>
        <LI>
          Display the 2-D object.
        </LI>
        <LI>
          Construct the Homogeneous matrix for the object with reference to the coordinate of the object.
        </LI>
        <LI>
          Accept the translation value tx, ty with reference to the coordinate system.
        </LI>
      <LI>
        Move the 2D object with tx, ty (x&rsquo; = x + tx; y&rsquo; = y + ty ) with the use of Homogeneous matrix described earlier.
      </LI>
      <LI>
        Plot translated object (x&rsquo;, y&rsquo;) w.r.t.Homogeneous coordinates.
      </LI>
        <LI>
          Stop.
        </LI>
      </OL>