    <p>1. If the object is moved along positive X-direction then the new x coordinate of the object will be greater than the old x coordinate. </p>
    <form>
        <input type="radio" name="answer" value="correct" id=1><span id="21"> True </span></input><br>
        <input type="radio" name="answer" value="wrong" id=2 /><span id="22">	False </span></input><br />
        </span>
    </form>

    <p>2. If the object is moved along negative X-direction then the new x coordinate of the object will be greater than the old x coordinate.
</p>
    <form>
        <input type="radio" name="answer1" value="correct" id=3><span id="23"> False </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=4 /><span id="24"> True </span></input><br />
        </span>
    </form>

    <p>3. If the object is moved along positive Y-direction then the new y coordinate of the object will be greater than the old y coordinate.</p>
    <form>
        <input type="radio" name="answer2" value="wrong" id=5> <span id="25"> False </span></input><br />
        <input type="radio" name="answer2" value="correct" id=6 /><span id="26"> True </span></input><br />
        </span>
    </form>

    <p>4. If the object is moved along negative Y-direction then the new y coordinate of the object will be greater.</p>
    <form>
        <input type="radio" name="answer3" value="correct" id=7><span id="27"> False </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=8><span id="28"> True </span></input><br>
    </form>

    <p>5. If the object is moved along positive X and Y directions, then the new (x&rsquo;, y&rsquo;) coordinate of the object will be greater than old (x, y) coordinate. </p>
    <form>
        <input type="radio" name="answer4" value="correct" id=9><span id="29"> True </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=10><span id="30"> False </span></input><br>
    </form>

    <br>
    <input type="button" value="CHECK ANSWERS" onclick="cal();">
    <script>


    function cal() {
        var a = 0;
        for (i = 1; i <= 10; i++)
        {
            var r = document.getElementById(i);
            if (r.value == "correct" && r.checked)
                a++;
        }
        for (i = 21; i <= 30; i++)
        {
            var e = document.getElementById(i - 20);
            var b = document.getElementById(i);
            b.style.color="black";
            b.style.backgroundColor="#ffffff";
            if (e.checked)
            {
                b.style.color = "red";
            }
            if (e.checked && e.value == "correct")
            {
            	b.style.color = "green";
            	b.style.backgroundColor="#55efc4";
            }

        }
        alert("Congratulations! Your score is " + a);


    }


    </script>