<UL>
    <LI>
        The geometrical change of an object from a current size/shape to new size/shape with change in the coordinates
        of the object is called as transformation.
    </LI>
    <LI>
        A translation moves an object to a different position on the screen.
    </LI>
    <LI>
        The transformation is needed to manipulate the initial object coordinate and display the modified object
        coordinate with the help of translation factors in X-direction defined as &lsquo;Tx&rsquo; and Y-directions defined as &lsquo;Ty&rsquo;
        as shown in figure below:
        <br>
        <img src="include/theoryImage1.png" height="150" width="150">
    </LI>

    <LI>
        We can translate a point in 2-D by adding translation coordinate (Tx, Ty) to the original coordinate (x, y) to
        get the new coordinates (x&apos; ,y&apos;)
        x&apos; = x + Tx;
        y&apos;= y + Ty;
    </LI>
    <LI>
        A translation moves all the points in the object along the same straight-line path to new positions w.r.t Tx and
        Ty.
    </LI>
    <LI>
        Translation can be represented with the use of Homogenous coordinate system using matrix representation as
        <br>
        <img src="include/theoryImage2.png" height="100" width="150">
        <br>
        where , P(x ,y) coordinate will be translated to P&rsquo;(x&rsquo;, y&rsquo;) with respect to the translation factor &lsquo;tx&rsquo; and
        &lsquo;ty&rsquo;.
    </LI>
</UL>
