    <H2> ALGORITHM : </H2>
      <OL>
        <LI>
          Start.
        </LI>
        <LI>
          Accept End points of the line which are (x1, y1) and (x2, y2).
        </LI>
        <LI>
          Calculate the Length of the Line segment :
          <br>
          if (abs(x2-x1) &gt;= abs(y2-y1))
          <br>
          then
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; length = abs(x2-x1).
          <br>
          else
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; length = abs (y2-y1).
        </LI>
        <LI>
          Calculate the increment in X and Y directions respectively as :
          <br>
          xincr = (x2-x1) / length.
          <br>
          yincr = (y2-y1) / length.
        </LI>
        <LI>
          Initialize:
          <br>
          x = x1 + 0.5.
          <br>
          y = y1 + 0.5.
          <br>
          i = 1.
        </LI>
        <LI>
          while (i &lt;= length)
          <br>
          {
            <br>
            plot (integer(x), integer(y))
            <br>
            x = x + xincr.
            <br>
            y = y + yincr.
            <br>
            i   = i + 1.
            <br>
          }
        </LI>
        <LI>
          Stop.
        </LI>
      </OL>