      <UL>
        <LI>
          DDA is an incremental scan conversion method to determine points on screen to draw a line when the Start and End coordinates of the Line segment are provided.
        </LI>
        <LI>
          DDA calculates the length of the line segment with respect to the difference between either X coordinates or Y coordinates, depending on whichever is greater.
        </LI>
        <LI>
          In DDA, we either step across X-Direction and solve for Y (in case of gentle slope lines) or we step across Y-Direction and solve for X (in case of sharp slope lines) with the help of increment in either X and/or Y directions.
        </LI>
        <LI>
          As the increments are calculated with respect to X  or Y direction, one of the increment will be either (1,/0/-1) and the other increment may be in decimal values.
        </LI>
        <LI>
          Floating point arithmetic in DDA algorithm is time-consuming which results in poor end point accuracy.
        </LI>
        <LI>
          It is the simplest algorithm and does not require special skills for implementation.
        </LI>
      </UL>