<h1>TRANSFORMATIONS - Rotation</h1>
<hr/>
<h3>
<p id="question"></p>
</h3>
<input type="button" value="Q1" id="1" onclick="changequestion(0)"/>
<input type="button" value="Q2" id="2" onclick="changequestion(1)"/>
<input type="button" value="Q3" id="3" onclick="changequestion(2)"/>
<hr>
<input type="button" value="START SIMUALTOR" onclick="start();" class="submit"/>
<input type="button" value="Clear Canvas" onclick="clearCanvas();" class="clear"/>
<br/>
<hr/>
<br/>
<div class="row">
    <div class="column">
        <canvas id="mycanvas" width="800" height="600" style="border:solid;border-color:black;"></canvas>
    </div>
    <div class="column">
        <table cellspacing="10" class="tableOuter">
            <tr name="step1" style="opacity: 0">
                <td>
                    1. Enter Rotation matrix :
                </td>
                <td>
                    <table class="matrix">
                        <tr>
                            <td><input type="text" id="m0" maxlength="6" size="6"></td>
                            <td><input type="text" id="m1" maxlength="6" size="6"></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="m2" maxlength="6" size="6"></td>
                            <td><input type="text" id="m3" maxlength="6" size="6"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr name="step1" style="opacity: 0">
                <td colspan="2">
                    <input type="button" onclick="checkRotationMatrix();" value="CHECK MATRIX"
                           style="width:100%; height:30px;">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr name="step2" style="opacity: 0">
                <td colspan="2">
                    2. Enter the rotated co-ordinates for the given points :
                </td>
            </tr>
            <tr name="step2" style="opacity: 0">
                <td colspan="2">
                    <table id="tablePoints" cellspacing="10" cellpadding="3">
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr name="step2" style="opacity: 0">
                <td colspan="2">
                    <input type="button" onclick="checkRotatedCoord();" value="CHECK ROTATED CO-ORDINATES"
                           style="width:100%; height:30px;">
                </td>
            </tr>
            <tr name="step3" style="opacity: 0">
                <td colspan="2">
                    3. Plot the rotated points on the canvas
                </td>
            </tr>
            <tr name="step4" style="opacity: 0">
                <td colspan="2">
                    4. Click the button below to join the points
                </td>
            </tr>
            <tr name="step4" style="opacity: 0">
                <td colspan="2">
                    <input type="button" onclick="connectPoints();" value="JOIN POINTS"
                           style="width:100%; height:30px;">
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var qnumber;
    var questions = [];
    questions.push("Rotate the given line by + 30 degrees about the origin.");
    questions.push("Rotate the given square by - 45 degrees about the origin.");
    questions.push("Rotate the given triangle by + 60 degrees about the origin.");
    var canvas = document.getElementById("mycanvas");
    var context = canvas.getContext("2d");
    var i = 0;
    var j = 0;
    var r = -1;
    var c = -1;
    var squarecontainer = [];
    var rotateQ = [];
    var rotateA = [];
    var translateFactor = [];
    var points = [];
    var rotateMatrix = [];
    var rotatedCoord = [];
    var pixelCount = [];

    var step1 = document.getElementsByName("step1");
    var step2 = document.getElementsByName("step2");
    var step3 = document.getElementsByName("step3");
    var step4 = document.getElementsByName("step4");

    rotateMatrix.push({m0: "cos30", m1: "sin30", m2: "-sin30", m3: "cos30", q: 0});
    rotateMatrix.push({m0: "cos45", m1: "-sin45", m2: "sin45", m3: "cos45", q: 1});
    rotateMatrix.push({m0: "cos60", m1: "sin60", m2: "-sin60", m3: "cos60", q: 2});

    rotatedCoord.push({x: 0, y: 3, q: 0});
    rotatedCoord.push({x: 6, y: 12, q: 0});
    rotatedCoord.push({x: 12, y: 9, q: 1});
    rotatedCoord.push({x: 15, y: 5, q: 1});
    rotatedCoord.push({x: 19, y: 9, q: 1});
    rotatedCoord.push({x: 15, y: 12, q: 1});
    rotatedCoord.push({x: 10, y: 17, q: 2});
    rotatedCoord.push({x: 13, y: 22, q: 2});
    rotatedCoord.push({x: 2, y: 16, q: 2});

    pixelCount.push({q: 0, c: 2});
    pixelCount.push({q: 1, c: 4});
    pixelCount.push({q: 2, c: 3});

    points.push({x: 2, y: 3, q: 0});
    points.push({x: 12, y: 8, q: 0});
    points.push({x: 2, y: 15, q: 1});
    points.push({x: 7, y: 15, q: 1});
    points.push({x: 7, y: 20, q: 1});
    points.push({x: 2, y: 20, q: 1});
    points.push({x: 20, y: 0, q: 2});
    points.push({x: 26, y: 0, q: 2});
    points.push({x: 16, y: 6, q: 2});

    rotateQ.push({x: 2, y: 3, q: 0});
    rotateQ.push({x: 3, y: 4, q: 0});
    rotateQ.push({x: 4, y: 4, q: 0});
    rotateQ.push({x: 5, y: 5, q: 0});
    rotateQ.push({x: 6, y: 5, q: 0});
    rotateQ.push({x: 7, y: 6, q: 0});
    rotateQ.push({x: 8, y: 6, q: 0});
    rotateQ.push({x: 9, y: 7, q: 0});
    rotateQ.push({x: 10, y: 7, q: 0});
    rotateQ.push({x: 11, y: 8, q: 0});
    rotateQ.push({x: 12, y: 8, q: 0});

    rotateQ.push({x:2 , y:15 , q:1 });
    rotateQ.push({x:2 , y:16 , q:1 });
    rotateQ.push({x:2 , y:17 , q:1 });
    rotateQ.push({x:2 , y:18 , q:1 });
    rotateQ.push({x:2 , y:19 , q:1 });
    rotateQ.push({x:2 , y:20 , q:1 });
    rotateQ.push({x:3 , y:20 , q:1 });
    rotateQ.push({x:4 , y:20 , q:1 });
    rotateQ.push({x:5 , y:20 , q:1 });
    rotateQ.push({x:6 , y:20 , q:1 });
    rotateQ.push({x:7 , y:20 , q:1 });
    rotateQ.push({x:7 , y:19 , q:1 });
    rotateQ.push({x:7 , y:18 , q:1 });
    rotateQ.push({x:7 , y:17 , q:1 });
    rotateQ.push({x:7 , y:16 , q:1 });
    rotateQ.push({x:7 , y:15 , q:1 });
    rotateQ.push({x:6 , y:15 , q:1 });
    rotateQ.push({x:5 , y:15 , q:1 });
    rotateQ.push({x:4 , y:15 , q:1 });
    rotateQ.push({x:3 , y:15 , q:1 });


    rotateQ.push({x: 20, y: 0, q: 2});
    rotateQ.push({x: 21, y: 0, q: 2});
    rotateQ.push({x: 22, y: 0, q: 2});
    rotateQ.push({x: 23, y: 0, q: 2});
    rotateQ.push({x: 24, y: 0, q: 2});
    rotateQ.push({x: 25, y: 0, q: 2});
    rotateQ.push({x: 26, y: 0, q: 2});
    rotateQ.push({x: 25, y: 0, q: 2});
    rotateQ.push({x: 24, y: 1, q: 2});
    rotateQ.push({x: 23, y: 1, q: 2});
    rotateQ.push({x: 22, y: 2, q: 2});
    rotateQ.push({x: 21, y: 3, q: 2});
    rotateQ.push({x: 20, y: 3, q: 2});
    rotateQ.push({x: 19, y: 4, q: 2});
    rotateQ.push({x: 18, y: 4, q: 2});
    rotateQ.push({x: 17, y: 5, q: 2});
    rotateQ.push({x: 16, y: 6, q: 2});
    rotateQ.push({x: 16, y: 5, q: 2});
    rotateQ.push({x: 17, y: 4, q: 2});
    rotateQ.push({x: 18, y: 3, q: 2});
    rotateQ.push({x: 18, y: 2, q: 2});
    rotateQ.push({x: 19, y: 1, q: 2});

    rotateA.push({x:0 , y:3 , q: 0});
    rotateA.push({x:0 , y:4 , q: 0});
    rotateA.push({x:1 , y:5 , q: 0});
    rotateA.push({x:2 , y:6 , q: 0});
    rotateA.push({x:2 , y:7 , q: 0});
    rotateA.push({x:3 , y:8 , q: 0});
    rotateA.push({x:4 , y:9 , q: 0});
    rotateA.push({x:4 , y:10 , q: 0});
    rotateA.push({x:5 , y:11 , q: 0});
    rotateA.push({x:6 , y:12 , q: 0});

    rotateA.push({x:15 , y:5 , q:1 });
    rotateA.push({x:14 , y:6 , q:1 });
    rotateA.push({x:13 , y:7 , q:1 });
    rotateA.push({x:12 , y:8 , q:1 });
    rotateA.push({x:12 , y:9 , q:1 });
    rotateA.push({x:13 , y:10 , q:1 });
    rotateA.push({x:14 , y:11 , q:1 });
    rotateA.push({x:15 , y:12 , q:1 });
    rotateA.push({x:16 , y:11 , q:1 });
    rotateA.push({x:17 , y:10 , q:1 });
    rotateA.push({x:18 , y:10 , q:1 });
    rotateA.push({x:19 , y:9 , q:1 });
    rotateA.push({x:18 , y:8 , q:1 });
    rotateA.push({x:17 , y:7 , q:1 });
    rotateA.push({x:16 , y:6 , q:1 });

    rotateA.push({x:10 , y:17 , q: 2});
    rotateA.push({x:10 , y:18 , q: 2});
    rotateA.push({x:11 , y:19 , q: 2});
    rotateA.push({x:11 , y:20 , q: 2});
    rotateA.push({x:12 , y:21 , q: 2});
    rotateA.push({x:13 , y:22 , q: 2});
    rotateA.push({x:12 , y:21 , q: 2});
    rotateA.push({x:11 , y:20 , q: 2});
    rotateA.push({x:10 , y:20 , q: 2});
    rotateA.push({x:9 , y:19 , q: 2});
    rotateA.push({x:8 , y:19 , q: 2});
    rotateA.push({x:7 , y:18 , q: 2});
    rotateA.push({x:6, y:18 , q: 2});
    rotateA.push({x:5 , y:17 , q: 2});
    rotateA.push({x:4 , y:17 , q: 2});
    rotateA.push({x:3 , y:16 , q: 2});
    rotateA.push({x:2 , y:16 , q: 2});
    rotateA.push({x:3 , y:16 , q: 2});
    rotateA.push({x:4 , y:16 , q: 2});
    rotateA.push({x:5 , y:16 , q: 2});
    rotateA.push({x:6 , y:16 , q: 2});
    rotateA.push({x:7 , y:16 , q: 2});
    rotateA.push({x:8 , y:16 , q: 2});
    rotateA.push({x:9 , y:16 , q: 2});

    var clickFlag = true;
    var startSim = false;


    for (j = 0; j < 600; j = j + 25) {
        r++;
        c = -1;
        for (i = 0; i < 800; i = i + 25) {
            c++;
            var a = new mysquare(canvas, i, j, 25, 25);
            a.draw();
            squarecontainer.push({square: a, x1: i, y1: j, rows: r, cols: c, flag: 0});
        }
    }

    function mouseevt(x, y) {
        if (!clickFlag) {
            for (i = 0; i < squarecontainer.length; i++) {
                if (squarecontainer[i].square.mycolor == 'red') {
                    squarecontainer[i].square.mycolor = 'grey';
                    squarecontainer[i].flag = 0;
                    squarecontainer[i].square.draw();
                }
            }
            for (i = 0; i < squarecontainer.length; i++) {
                if (x >= squarecontainer[i].x1 && x <= (squarecontainer[i].x1 + 25) && y >= squarecontainer[i].y1 && y <= (squarecontainer[i].y1 + 25)) {
                    if (squarecontainer[i].square.mycolor == 'green') {
                        return;
                    }
                    else {
                        squarecontainer[i].square.mycolor = "yellow";
                        squarecontainer[i].square.draw();
                        squarecontainer[i].flag = 1;
                        break;
                    }
                }
            }
            context.clearRect(0, 0, canvas.width, canvas.height);
            for (i = 0; i < squarecontainer.length; i++) {
                squarecontainer[i].square.draw();
            }
            checkPixels();
        }
        else {
            alert("Please follow the instructions to complete the simulation");
        }
        if (!startSim) {
            alert("Click on the 'START SIMULATOR' button to start simulation");
        }
    }

    countPixelFlag = 0;

    function checkPixels() {
        for (j = 0; j < rotatedCoord.length; j++) {
            if (rotatedCoord[j].q == qnumber) {
                for (i = 0; i < squarecontainer.length; i++) {
                    if (squarecontainer[i].square.mycolor === "yellow" || squarecontainer[i].square.mycolor === "red") {
                        if (squarecontainer[i].cols == rotatedCoord[j].x && squarecontainer[i].rows == rotatedCoord[j].y) {
                            squarecontainer[i].square.mycolor = "green";
                            countPixelFlag++;
                            if (countPixelFlag == pixelCount[qnumber].c) {
                                squarecontainer[i].square.draw();
                                for (i = 0; i < step3.length; i++) {
                                    step3[i].style.opacity = "0.2";
                                }
                                for (i = 0; i < step4.length; i++) {
                                    step4[i].style.opacity = "1";
                                }
                                clickFlag = true;
                            }
                            break;
                        }
                        else {
                            squarecontainer[i].square.mycolor = "red";
                            break;
                        }
                    }
                    squarecontainer[i].square.draw();
                }
            }
        }
    }

    function clearCanvas() {
        location.reload();
    }

    function reset() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        for (i = 0; i < squarecontainer.length; i++) {
            squarecontainer[i].square.mycolor = 'grey';
            squarecontainer[i].square.textColor = "white";
            squarecontainer[i].flag = 0;
            squarecontainer[i].square.draw();
        }

        document.getElementById("m0").value = "";
        document.getElementById("m1").value = "";
        document.getElementById("m2").value = "";
        document.getElementById("m3").value = "";

        var table = document.getElementById("tablePoints");
        while (table.rows.length > 1) {
            table.deleteRow(1);
        }

        startSim = false;
        for (i = 0; i < step1.length; i++) {
            step1[i].style.opacity = "0";
        }
        for (i = 0; i < step2.length; i++) {
            step2[i].style.opacity = "0";
        }
        for (i = 0; i < step3.length; i++) {
            step3[i].style.opacity = "0";
        }
        for (i = 0; i < step4.length; i++) {
            step4[i].style.opacity = "0";
        }
        clickFlag = true;
    }

    function checkRotationMatrix() {
        var mat = [];
        for (i = 0; i < 4; i++) {
            mat.push(document.getElementById("m" + i).value);
        }
        if (mat[0] == rotateMatrix[qnumber].m0 && mat[1] == rotateMatrix[qnumber].m1 && mat[2] == rotateMatrix[qnumber].m2 && mat[3] == rotateMatrix[qnumber].m3) {
            alert("Rotation matrix is correct");
            for (i = 0; i < step2.length; i++) {
                step2[i].style.opacity = "1";
            }
            for (i = 0; i < step1.length; i++) {
                step1[i].style.opacity = "0.2";
            }
        }
        else {
            alert("Rotation matrix is in-correct");
        }
    }

    function checkRotatedCoord() {
        var count = 0;
        for (i = 0; i < rotatedCoord.length; i++) {
            if (rotatedCoord[i].q == qnumber) {
                var rotatedPointsX = document.getElementsByName("xRotated" + qnumber);
                var rotatedPointsY = document.getElementsByName("yRotated" + qnumber);
                for (j = 0; j < rotatedPointsX.length; j++) {
                    if (rotatedPointsX[j].value != rotatedCoord[i].x || rotatedPointsY[j].value != rotatedCoord[i].y) {
                        // alert("INVALID A:" + scaledPointsX[j].value +" D:"+ rotatedCoord[i].x + "A:" +scaledPointsY[j].value +" D:"+ rotatedCoord[i].y);
                    }
                    else {
                        count++;
                    }
                }
            }
        }
        if (count == rotatedPointsX.length) {
            alert("Matrices correct");
            for (i = 0; i < step2.length; i++) {
                step2[i].style.opacity = "0.2";
            }
            for (i = 0; i < step3.length; i++) {
                step3[i].style.opacity = "1";
            }
            clickFlag = false;
        }
        else
        {
            alert("Matrices are incorrect");
        }
    }

    changequestion(0);

    function changequestion(j) {
        var we;
        qnumber = j;
        we = "" + questions[j];
        reset();
        document.getElementById("question").innerHTML = null;
        document.getElementById("question").innerHTML = we;
        for (j = 0; j < rotateQ.length; j++) {
            for (i = 0; i < squarecontainer.length; i++) {
                if (rotateQ[j].q == qnumber) {
                    if (rotateQ[j].x == squarecontainer[i].cols && rotateQ[j].y == squarecontainer[i].rows) {
                        squarecontainer[i].square.mycolor = "blue";
                    }
                    squarecontainer[i].square.draw();
                }
            }
        }

        var table = document.getElementById("tablePoints");
        while (table.rows.length > 1) {
            table.deleteRow(1);
        }

        var id = 1;
        for (i = 0; i < points.length; i++) {
            if (points[i].q == qnumber) {
                var row = table.insertRow();
                var cellLeft = row.insertCell();
                var cellRight = row.insertCell();
                var cellEqual = row.insertCell();
                var cellQuestion = row.insertCell();

                var tb1 = document.createElement("table");
                tb1.setAttribute("class", "matrix");
                tb1.align = "right";
                var tr1 = document.createElement("tr");
                var td1 = document.createElement("td");
                td1.innerHTML = points[i].x;
                tb1.appendChild(tr1);
                tr1.appendChild(td1);
                var tr2 = document.createElement("tr");
                var td2 = document.createElement("td");
                td2.innerHTML = points[i].y;
                tb1.appendChild(tr2);
                tr2.appendChild(td2);
                cellLeft.appendChild(tb1);

                var tb2 = document.createElement("table");
                tb2.setAttribute("class", "matrix");
                tr1 = document.createElement("tr");
                td1 = document.createElement("td");
                td1.innerHTML = rotateMatrix[qnumber].m0;
                td2 = document.createElement("td");
                td2.innerHTML = rotateMatrix[qnumber].m1;
                tr1.appendChild(td1);
                tr1.appendChild(td2);
                tb2.appendChild(tr1);
                tr2 = document.createElement("tr");
                td1 = document.createElement("td");
                td1.innerHTML = rotateMatrix[qnumber].m2;
                td2 = document.createElement("td");
                td2.innerHTML = rotateMatrix[qnumber].m3;
                tr2.appendChild(td1);
                tr2.appendChild(td2);
                tb2.appendChild(tr2);
                cellRight.appendChild(tb2);

                cellEqual.innerHTML = " = ";

                tb1 = document.createElement("table");
                tb1.setAttribute("class", "matrix");
                tb1.align = "left";
                var tr1 = document.createElement("tr");
                var td1 = document.createElement("td");
                var xRotated = document.createElement("input");
                xRotated.type = "text";
                xRotated.maxlength = "6";
                xRotated.size = "6";
                xRotated.id = "xRotated" + id;
                xRotated.name = "xRotated" + qnumber;
                td1.appendChild(xRotated);
                tb1.appendChild(tr1);
                tr1.appendChild(td1);
                var tr2 = document.createElement("tr");
                var td2 = document.createElement("td");
                var yRotated = document.createElement("input");
                yRotated.type = "text";
                yRotated.maxlength = "6";
                yRotated.size = "6";
                yRotated.id = "yRotated" + id;
                yRotated.name = "yRotated" + qnumber;
                td2.appendChild(yRotated);
                tb1.appendChild(tr2);
                tr2.appendChild(td2);
                cellQuestion.appendChild(tb1);
                id++;
            }
        }
    }

    function start() {
        startSim = true;
        for (i = 0; i < step1.length; i++) {
            step1[i].style.opacity = "1";
        }
        for (i = 0; i < step2.length; i++) {
            step2[i].style.opacity = "0";
        }
        for (i = 0; i < step3.length; i++) {
            step3[i].style.opacity = "0";
        }
        for (i = 0; i < step4.length; i++) {
            step4[i].style.opacity = "0";
        }
        clickFlag = true;
    }

    function connectPoints() {
        for (j = 0; j < rotateA.length; j++) {
            for (i = 0; i < squarecontainer.length; i++) {
                if (rotateA[j].x == squarecontainer[i].cols && rotateA[j].y == squarecontainer[i].rows && rotateA[j].q == qnumber) {
                    squarecontainer[i].square.mycolor = "green";
                }
                else {
                    squarecontainer[i].square.textColor = "#95a5a6";
                }
                squarecontainer[i].square.draw();
            }
        }
        for (i = 0; i < step4.length; i++) {
            step4[i].style.opacity = "0.2";
        }
        alert("You have successfully rotated the object");
    }
</script>
<script src="include/mouseevent.ob.js"></script>
