<!-- /.content-wrapper -->
<footer class="main-footer">
	<h4 align="center">Lab contributed by PVG's College of Engineering and Technology, Pune.<!-- Institute Name --> </h4>
</footer>
<!-- /.control-sidebar -->