input[type="text"] {
    width: 50px;
}
table,tr,td {
    overflow: auto;
    table-layout: auto;
    width: 100%;
    border: thick solid black;
}
.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

.submit {
    height: 50px;
    background-color: lightgreen;
}

.clear {
    height: 50px;
    background-color: indianred;
}