
    <p>1. If the circle has to be drawn with the center (0,0) and radius 10, then what will be initial decision parameter? </p>
    <form>
        <input type="radio" name="answer" value="wrong" id=1><span id="21"> -7 </span></input><br>
        <input type="radio" name="answer" value="wrong" id=2><span id="22"> 1 </span></input><br />
        <input type="radio" name="answer" value="wrong" id=3 /><span id="23"> 20 </span></input><br />
        <input type="radio" name="answer" value="correct" id=4 /><span id="24">	-17 </span></input><br />
        </span>
    </form>

    <p>2. If the circle has to be drawn with the center (0,0) and radius 10, then which point will be plotted after (0,10)?
</p>
    <form>
        <input type="radio" name="answer1" value="wrong" id=5><span id="25"> (2,10) </span></input><br />
        <input type="radio" name="answer1" value="correct" id=6 /><span id="26"> (1,10) </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=7 /><span id="27"> (2,9) </span></input><br />
        <input type="radio" name="answer1" value="wrong" id=8 /><span id="28"> (3,9) </span></input><br />
        </span>
    </form>

    <p>3. If the circle has to be drawn with the center (0,0) and radius 10, then which point will be plotted after (2,10)?</p>
    <form>
        <input type="radio" name="answer2" value="wrong" id=9> <span id="29"> (2,9) </span></input><br />
        <input type="radio" name="answer2" value="correct" id=10 /><span id="30">  (3,10) </span></input><br />
        <input type="radio" name="answer2" value="wrong" id=11 /><span id="31"> (4,9) </span></input><br />
        <input type="radio" name="answer2" value="wrong" id=12 /><span id="32"> (3,9) </span></input><br />
        </span>
    </form>

    <p>4. The center of the circle is at (0,0) the first point plotted is (0,10) then what is the radius of the circle?</p>
    <form>
        <input type="radio" name="answer3" value="correct" id=13><span id="33"> 10  </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=14><span id="34">  7 </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=15><span id="35"> 17 </span></input><br>
        <input type="radio" name="answer3" value="wrong" id=16><span id="36"> 5  </span></input><br>


    </form>

    <p>5.  The 8 - way symmetry can be performed against any one of the octant. </p>
    <form>
        <input type="radio" name="answer4" value="correct" id=17><span id="37"> True </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=18><span id="38"> False </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=19><span id="39"> Cannot say </span></input><br>
    </form>

    <br><input type="button" value="CHECK ANSWERS" onclick="cal();">
    <script>


    function cal() {
        var a = 0;
        for (i = 1; i <= 19; i++)
        {
            var r = document.getElementById(i);
            if (r.value == "correct" && r.checked)
                a++;
        }
        for (i = 21; i <= 39; i++)
        {
            var e = document.getElementById(i - 20);
            var b = document.getElementById(i);
            b.style.color="black";
            b.style.backgroundColor="#ffffff";
            if (e.checked)
            {
                b.style.color = "red";
            }
            if (e.checked && e.value == "correct")
            {
            	b.style.color = "green";
            	b.style.backgroundColor="#55efc4";
            }

        }
        alert("Congratulations! Your score is " + a);


    }


    </script>