
    <p>1. If the circle has to be drawn with the radius R, then some point will lie on the X-axis and Y-Axis. </p>
    <form>
        <input type="radio" name="answer" value="correct" id=1><span id="21"> True </span></input><br>
        <input type="radio" name="answer" value="wrong" id=2 /><span id="22">	False </span></input><br />
        </span>
    </form>

    <p>2. If the circle has to be drawn with the radius R, then some point will have less x-coordinate and some point will have greater x-coordinates than respective y-coordinates.
</p>
    <form>
        <input type="radio" name="answer1" value="wrong" id=3><span id="23"> False </span></input><br />
        <input type="radio" name="answer1" value="correct" id=4 /><span id="24"> True </span></input><br />
        </span>
    </form>

    <p>3. If the circle has to be drawn with the center (20,20) and radius 10, then the point (20,30) will lie on the circle.</p>
    <form>
        <input type="radio" name="answer2" value="wrong" id=5> <span id="25"> False </span></input><br />
        <input type="radio" name="answer2" value="correct" id=6 /><span id="26"> True </span></input><br />
        </span>
    </form>

    <p>4. If the circle has to be drawn with the center (20,20) and radius 10, then the point (20,10) will lie on the circle.</p>
    <form>
        <input type="radio" name="answer3" value="wrong" id=7><span id="27"> False </span></input><br>
        <input type="radio" name="answer3" value="correct" id=8><span id="28"> True </span></input><br>
    </form>

    <p>5. If the circle has to be drawn with the center (20,20) and radius 10, then the point (30,20) will lie on the circle. </p>
    <form>
        <input type="radio" name="answer4" value="correct" id=9><span id="29"> True </span></input><br>
        <input type="radio" name="answer4" value="wrong" id=10><span id="30"> False </span></input><br>
    </form>

    <br>
    <input type="button" value="CHECK ANSWERS" onclick="cal();">
    <script>


    function cal() {
        var a = 0;
        for (i = 1; i <= 10; i++)
        {
            var r = document.getElementById(i);
            if (r.value == "correct" && r.checked)
                a++;
        }
        for (i = 21; i <= 30; i++)
        {
            var e = document.getElementById(i - 20);
            var b = document.getElementById(i);
            b.style.color="black";
            b.style.backgroundColor="#ffffff";
            if (e.checked)
            {
                b.style.color = "red";
            }
            if (e.checked && e.value == "correct")
            {
            	b.style.color = "green";
            	b.style.backgroundColor="#55efc4";
            }

        }
        alert("Congratulations! Your score is " + a);


    }


    </script>

