
    <p>As the circle is collection of points that are at equal distance from the center of the circle. There are various methods to find the points on the circumference of the circle with respect to the center of the circle. The different methods are listed as below: </p>
      <UL>
        <LI>
          	    Trigonometric Method :
	x=rcos&theta; and y=rsin&theta;
        </LI>
        <LI>
         	    Polynomial Method :
	x2+y2=r2
        </LI>
        <LI>
          	Midpoint Circle Algorithm
        </LI>

       	<LI>
          	Bresenham Circle Algorithm
            <br>
                <img src="include/theoryImage1.png" height="150" width="150">
        </LI>
        <LI>
         	   As shown in the figure the spacing between plotted pixel positions is not uniform.
    Bresenham Circle Algorithm plots the first pixel which lie on the Y axis with the coordinates as (0, Radius).
        </LI>
        <LI>
          	Bresenham Circle Algorithm makes the use of decision parameter to calculate the next pixel location from a previously known pixel location (x, y).
        </LI>
        <LI>
          In Bresenham&rsquo;s algorithm at any point (x, y) we have two option to choose the next pixel either in the X&ndash;direction (x+1, y) or (x+1, y-1).
        </LI>

        <LI>
         	Consider the case explained below :
            <br>
            <img src="include/theoryImage2.png" height="150" width="220">
        </LI>

        <LI>
          	    If the point P1 is far away from actual circle;it will yield greater +ve value Da
            i.e Da = x<sup>2</sup> + y<sup>2</sup> - R<sup>2</sup>
        </LI>

        <LI>
          	If (Da +Db&gt;=0); then point P2 is closer to Actual Circle else P1 is closer
        </LI>
        
        <LI>
          	  If the point P2 is closer to the actual circle, then the x will be incremented and y will be decremented. If the point P1 is closer to the actual circle, then the x will be incremented and y will remain same. 
        </LI>
        
        <LI>
          	  With the use of Bresenham circle drawing algorithm computation can be reduced by considering the symmetry of circles.
        </LI>
        
        <LI>
        	    8 Way Symmetry:
    			A point (a,b)can be represented with the use of 8 way symmetry as
                <br>
            <img src="include/theoryImage3.png" height="150" width="150">
        </LI>
        
        <LI>
        	   (a ,b); (a,-b); (-a ,b); (-a,-b) and (b, a); (b,-a); (-b, a); (-b,-a);
        </LI>
   
      </UL>
