td {
    border:thick solid;
}

.tableOuter {
    table-layout: auto;
    width: 100%;
    border: thick solid black;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

.matrix {
    position: relative;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}

.matrix:before {
    left: -6px;
    border-right: 0;
}

.matrix:after {
    right: -6px;
    border-left: 0;
}
.submit {
    height: 50px;
    background-color: lightgreen;
}

.clear {
    height: 50px;
    background-color: indianred;
}